In [1]:
import pandas as pd

df_cleaned = pd.read_csv('df_cleaned2.csv')
df_cleaned

,Unnamed: 0,cleaned_title,cleaned_abstract,cleaned_categories
0,0,calculation prompt diphoton production cross s...,fully differential calculation perturbative qu...,hep-ph
1,1,sparsity-certifying graph decomposition,describe new algorithm k ell pebble game...,math.co cs.cg
2,2,evolution earth-moon system based dark matter ...,evolution earth-moon system described dark mat...,physics.gen-ph
3,3,determinant stirling cycle number count unlabe...,show determinant stirling cycle number count u...,math.co
4,4,dyadic lambda alpha lambda alpha,paper show compute lambda alpha norm alp...,math.ca math.fa
...,...,...,...,...
2431230,2431230,origin irreversibility line thin ybacuo7 film ...,report measurement angular dependence irrevers...,supr-con cond-mat.supr-con
2431231,2431231,nonlinear response htsc thin film microwave re...,non-linear microwave surface impedance pattern...,supr-con cond-mat.supr-con
2431232,2431232,critical state flux penetration linear microwa...,vortex contribution dc field h dependent mic...,supr-con cond-mat.supr-con
2431233,2431233,density state nmr relaxation rate anisotropic ...,show density state anisotropic superconductor ...,supr-con cond-mat.supr-con
2431234,2431234,ginzburg landau theory d-wave pairing fourfold...,ginzburg landau theory d x^2-y^2 wave superc...,supr-con cond-mat.supr-con

In [2]:
# Drop redundant index column
df_cleaned.drop('Unnamed: 0', axis =1, inplace = True)

In [3]:
from sklearn.feature_extraction.text import TfidfVectorizer


# Concatenate 'cleaned_abstract' and 'cleaned_title' columns
doc = (df_cleaned['cleaned_abstract'] + ' ' + df_cleaned['cleaned_title'] + ' ' + df_cleaned['cleaned_categories']).astype("U")

# Initialize TF-IDF vectorizer
tfidf_vectorizer = TfidfVectorizer(max_features=500)

# Fit and transform the concatenated text data
tfidf_matrix = tfidf_vectorizer.fit_transform(doc)

# Convert the TF-IDF matrix into a DataFrame
tfidf_df = pd.DataFrame(tfidf_matrix.toarray(), columns=tfidf_vectorizer.get_feature_names_out())

# Display the TF-IDF DataFrame
tfidf_df.head()

,10,3d,account,accuracy,action,addition,agent,ai,algebra,algorithm,...,via,wave,way,weak,well,within,without,work,world,zero
0,0.000000,0.0,0.0,0.120878,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.085752,0.0,0.0,0.000000,0.0,0.0
1,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.326318,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.097766,0.0,0.0
2,0.200543,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.077948,0.0,0.0,0.000000,0.0,0.0
3,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0
4,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0

In [4]:
# The shape of TF-IDF dataframe 
tfidf_df.shape

(2431235, 500)

In [5]:
# Save the TF-IDF dataframe
tfidf_df.to_csv('tf_idf.csv')